/*
 *  +-------------------------------------------------------------------------+
 *  | Global styles                                                           |
 *  +-------------------------------------------------------------------------+
 */
html, body {
  margin: 0;
  padding: 2rem 0rem 0rem 0rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ebecf1;
}

/*
 *  +-------------------------------------------------------------------------+
 *  | Search page                                                             |
 *  +-------------------------------------------------------------------------+
 */
#search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1600px;  /* May seem small, but it looks great on a 4k monitor! */
}

#search-form .form-fields {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

#search-field {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #1A2930;
  width: 50%;
  height: 2rem;
  outline: none;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#search-button {
  border: none;
  margin: 0;
  padding: 0rem 1.5rem;
  background-color: #23B5D3;
  color: #F7F7FF;
  font-size: 1.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#search-button:hover {
  cursor: pointer;
  background-color: #279AF1;
}

/*
 *  +-------------------------------------------------------------------------+
 *  | Results page                                                            |
 *  +-------------------------------------------------------------------------+
 */
.query-title {
  border-bottom: 0.1rem solid #1b1c25;
  margin-bottom: 5rem;
}

.result-list {
  margin: 0;
  padding: 0;
  max-width: 50%;
}

.result {
  list-style-type: none;
  margin-bottom: 3rem;
}

.result:hover > .result-title {
  text-decoration: underline;
}

.result-url {
  text-decoration: none;
}

.result-url-visible {
  color: #206a5d;
  overflow: hidden;
  white-space: nowrap;
}

.result-title {
  color: #1b1c25;
  margin: 1rem 0rem 0.25rem 0rem;
  font-size: 1.25rem;
}

.result-description {
  color: #1b1c25;
  margin: 0;
  padding: 0.2rem 0rem 0.75rem 0rem;
}
