<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        <!-- Database Connection -->
        <add key="ServerURL" value="127.0.0.1" />
        <add key="ServerPort" value="5432" />
        <add key="DatabaseName" value="" />
        <add key="DatabaseUser" value="" />
        <add key="DatabaseUserPassword" value="" />
    </appSettings>
</configuration>