html
    head
        title #{query}
        link(rel="stylesheet" href="/stylesheets/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        p You searched for #{query}, but the search function has not been implemented yet!
